Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
# jdk seems correct, but OpenJdk from ppa repositories provide java8-sdk ...
Pre-Depends: java8-jdk|java8-sdk, debconf
# because otherwise jdeb add this field with java 6 defaults:
Depends: java8-jdk|java8-sdk
Maintainer: CISO Operating <ciso-ops@1und1.de>
Description: [[description]]
Homepage: [[url]]
