# Stool shell functions for bash

stoolIndicatorColor() {
    local RED="\033[0;31m"
    local BLUE_BACKGROUND="\033[44;1;37m"
    local DIR=${{stool.lib}}/backstages/$STOOL_SELECTED/anchor
    if [ ! -e $DIR ] ; then
      echo -e "$BLUE_BACKGROUND"
    else
      if [ `uname` = Darwin ] ; then
        local fmt=-f
      else
        local fmt=--format
      fi
      if [ $(id -u) = $(stat -L $fmt %u $DIR) ] ; then
        echo -e ""
      else
        echo -e "$RED"
      fi
    fi
}
