<th:block xmlns:th="http://www.thymeleaf.org" th:each="stage : ${stages}">
    <th:block th:with="status=${stage.currentMap().isEmpty() ? 'down' : 'up'}, user=${userManager.checkedByLogin(stage.lastModifiedBy())}">
    <tr class="stage" th:data-name="${stage.name}" th:data-user="${user}" th:data-status="${status}"
        th:data-content-hash="${stage.contentHash()}" th:data-updateAvailable="${stage.updateAvailable()}">

        <td class="status">
            <div th:class="${'status badge badge-' + stage.displayState()}">
              <span data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" th:text="${status}"></span></div>
        </td>
        <td class="name"><span data-container="body" data-toggle="popover" data-placement="bottom"
                               th:data-content="${stage.configuration.comment.isEmpty() ? '(no comment)' : stage.configuration.comment}"
                               data-trigger="hover" th:text="${stage.name}"></span></td>
        <td class="links">
            <th:block th:each="url : ${stage.urlMap(null)}">
                <a th:href="${url.value}" target="_blank" th:text="${url.key}"></a><br/>
            </th:block>
        </td>
        <td th:class="${'expire ' + (stage.configuration.expire.isExpired() ? 'expired' : '')}" th:text="${stage.configuration.expire}"></td>
        <td class="user" th:text="${user}"></td>
        <td class="action refresh">
            <button th:class="${'btn ' + (stage.updateAvailable() ? 'btn-primary' : 'btn-light') + ' btn-sm'}"
                    type="button" data-action="refresh" th:data-stage="${stage.name}"
                    data-arguments="-build,-autorestart"><span style="white-space: nowrap"><i class="fas fa-sync"></i> Refresh</span></button>
        <td class="action share">
            <a role="button" th:href="${'mailto:?subject=Stage&body=' + stage.sharedText()}" th:disabled="${stage.urlMap(null) == null}"
               class="btn btn-light btn-sm share"><span style="white-space: nowrap"><i class="fas fa-share"></i> Share</span></a>
        </td>
        <td class="action">
            <div class="dropdown">
                <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="white-space: nowrap">More</span></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#dashboard" data-action="start" th:data-stage="${stage.name}">Start</a>
                    <a class="dropdown-item" href="#dashboard" data-action="stop" th:data-stage="${stage.name}">Stop</a>
                    <a class="dropdown-item" href="#dashboard" data-action="restart" th:data-stage="${stage.name}">Restart</a>
                    <a class="dropdown-item" href="#dashboard" data-action="build" th:data-stage="${stage.name}">Build</a>
                    <a class="dropdown-item" href="#dashboard" data-action="refresh" data-arguments="-restore" th:data-stage="${stage.name}">Rollback</a>
                    <a class="dropdown-item" href="#dashboard" data-action="cleanup" th:data-stage="${stage.name}">Cleanup</a>
                    <a class="dropdown-item" href="#dashboard" data-action="config" data-arguments="expire=+7" th:data-stage="${stage.name}">Expire in 1 week</a>
                </div>
            </div>
        </td>
    </tr>
</th:block>
