Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: java8-jdk
Maintainer: CISO Operating <ciso-ops@1und1.de>
Description: [[description]]
Distribution: wheezy
