<configuration>
    <!-- I need a different logging configuration for tests; because the normal configuration has a hard-coded logroot
         (which is ok because the server is assumed to execute in a container) -->
    <Logger name="freemarker" level="off">
        <AppenderRef ref="Console" />
    </Logger>
    <root level="INFO">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>