# Stool shell code

${{setenv.rc}}

stageIndicator() {
  local NO_COLOUR="\[\033[0m\]"
  local dir=`pwd`
  local name=$(stageName $dir)
  if [ $name != none ] ; then
    echo -n $(stageIndicatorColor $dir)"{$name} "${NO_COLOR}
  # else
  #   no stage -> no indicator
  fi
}

stageName() {
  local dir="$(cd $1; pwd)"
  while [ $dir != "/" ] ; do
    if [ -d $dir/.backstage ] ; then
      local name=$(grep \"name\" $dir/.backstage/config.json | cut -d':' -f2 | grep -o \"[\-a-zA-Z.0-9]*\")
      name=${name:1}
      name=${name%?}
      echo -n ${name}
      return
    fi
    dir="$(dirname "$dir")"
  done
  echo -n none
  return
}

stageIndicatorColor() {
    local RED="\033[0;31m"
    local BLUE_BACKGROUND="\033[44;1;37m"
    local DIR=$1
    if [ ! -e $DIR ] ; then
      echo -e "$BLUE_BACKGROUND"
    else
      if [ `uname` = Darwin ] ; then
        local fmt=-f
      else
        local fmt=--format
      fi
      if [ $(id -u) = "$(stat -L $fmt %u $DIR)" ] ; then
        echo -n ""
      else
        echo -n "$RED"
      fi
    fi
}

if [ "x$BASH" != "x" ] ; then
    . ${{stool.home}}/bash.complete
    export STOOL_OLD_PROMPT_COMMAND=$PROMPT_COMMAND
    stoolPromptCommand() {
        eval "$STOOL_OLD_PROMPT_COMMAND"
        stageIndicator
    }
    PROMPT_COMMAND=stoolPromptCommand
fi
